@model IEnumerable<MedicalMgmt.Models.User>

@{
    ViewBag.Title = "Usuários";
}

<h2>Usuários</h2>

<p>
    @Html.ActionLink("Criar novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Username)*@
            @Html.ActionLink("Usuário", "Index", new { sortOrder = ViewBag.UsernameSortParam })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.FullName)*@
            @Html.ActionLink("Nome completo", "Index", new { sortOrder = ViewBag.FullNameSortParam})
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cpf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.UserID }) |
            @Html.ActionLink("Detalhes", "Details", new { id = item.UserID }) @*|
            @Html.ActionLink("Excluir", "Delete", new { id = item.UserID })*@
        </td>
    </tr>
}

</table>
