@model MedicalMgmt.Models.Appointment

@{
    ViewBag.Title = "Detalhes da consulta";
}

<h2>Detalhes</h2>

<div>
    <h4>Consulta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Paciente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.FullName)
        </dd>

        <dt>
            Médico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Physician.User.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Physician.Expertise)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Physician.Expertise)
        </dd>

        <dt>
            Usuário marcação
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlannedStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlannedStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlannedEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlannedEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anamnesis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anamnesis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientArrivingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientArrivingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.AppointmentID }) |
    @Html.ActionLink("Voltar", "Index")
</p>
