@model MedicalMgmt.Models.Appointment

@{
    ViewBag.Title = "Detalhes da consulta";
}

<h2>Detalhes</h2>

<div>
    <h4>Consulta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Paciente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.FullName)
        </dd>

        <dt>
            Médico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Physician.AppUser.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Physician.Expertise)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Physician.Expertise)
        </dd>

        <dt>
            Usuário marcação
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppUser.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlannedStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlannedStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlannedEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlannedEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anamnesis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anamnesis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientArrivingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientArrivingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.StatusDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.StatusDescription)
        </dd>

    </dl>
</div>
<div class="modal" id="modalChangeStatus">

</div>
<div class="modal" id="modalCancel">
    @{Html.RenderAction("Cancel", "Appointments", new { @id = @Model.AppointmentID });}
</div>
<p>
    <button class="btn btn-primary" id="btnChangeStatus">Alterar status <i class="glyphicon glyphicon-repeat"></i></button>
    <button class="btn btn-danger" id="btnCancel">Cancelar consulta <i class="glyphicon glyphicon-ban-circle"></i></button>
</p>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.AppointmentID }) |
    @Html.ActionLink("Voltar", "Index")
</p>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#btnCancel").click(function () {
                $("#modalCancel").modal();
            });

            $("#btnConfirmCancel").click(function () {
                $.ajax({
                    method: "POST",
                    url: "/Appointments/ConfirmCancel/",
                    data: {
                        id : @Model.AppointmentID
                    },
                    success: function () {
                        location.reload();
                    }
                })
            });
        })
    </script>
}