@model IEnumerable<MedicalMgmt.Models.Appointment>

<hr />
<table class="table">
    <tr>
        <th>
            Paciente
        </th>
        <th>
            Médico(a)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Physician.Expertise)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status.StatusDescription)
        </th>
        <th>
            Data
        </th>
        <th align="right"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Physician.AppUser.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Physician.Expertise)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.StatusDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlannedStartDate)
        </td>
        <td align="right">
            @Html.ActionLink("Abrir", "Details", new { id = item.AppointmentID }, new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>
