@*@model IEnumerable<MedicalMgmt.Models.Appointment>*@
@model PagedList.IPagedList<MedicalMgmt.Models.Appointment>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<hr />
<table class="table">
    <tr>
        <th>
            Paciente
        </th>
        <th>
            Médico(a)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Physician.Expertise)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Status.StatusDescription)
        </th>
        <th>
            Data
        </th>
        <th align="right"></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Patient.FullName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Physician.AppUser.FullName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Physician.Expertise)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Status.StatusDescription)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PlannedStartDate)
    </td>
    <td align="right">
        @Html.ActionLink("Abrir", "Details", new { id = item.AppointmentID }, new { @class = "btn btn-primary" })
    </td>
</tr>
}

</table>
@Html.PagedListPager(
                    Model,
                    page => Url.Action("ListByDate", new { page,
                                                           patientID = ViewBag.PatientID,
                                                           physicianID = ViewBag.PhysicianID,
                                                           startDate = ViewBag.StartDate,
                                                           endDate = ViewBag.EndDate }),
                    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "queryResults" })
                    )
