@model MedicalMgmt.Models.PrescriptedExam

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Exame prescrito</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Paciente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.FullName)
        </dd>

        <dt>
            Médico(a)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Physician.AppUser.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Physician.Expertise)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Physician.Expertise)
        </dd>

        <dt>
            Data da prescrição
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Appointment.PlannedStartDate)
        </dd>

        <dt>
            Exame
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exam.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>
        @if (!String.IsNullOrEmpty(Model.Result))
        {
            <dt>
                @Html.DisplayNameFor(model => model.Result)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Result)
            </dd>

            <dt>
                Data do resultado
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ResultDate)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.SendToPacient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SendToPacient)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.StatusID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusID)
        </dd>*@

    </dl>
</div>


<div class="form-group">
    @Html.LabelFor(model => model.Result, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-12" data-toggle="tooltip" title="">
        @Html.TextAreaFor(model => model.Result, new { @class = "form-control", @id = "examResult" })
        @Html.ValidationMessageFor(model => model.Result, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    <div class="col-md-12">
        <button class="btn btn-primary" id="btnSaveExamResult">Salvar resultado <i class="glyphicon glyphicon-floppy-disk"></i></button>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PrescriptedExamID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts{
<script src="~/Scripts/bootstrap-select.min.js"></script>
<script>
    $(document).ready(function () {

        $("#btnSaveExamResult").click(function () {
            $.ajax({
                method: "POST",
                url: "/PrescriptedExams/SaveExamResult/",
                data: {
                    prescriptedExamID : @Model.PrescriptedExamID,
                    examResult: $("#examResult").val()
                },
                success: function () {
                    $("#modalSucess").modal();
                }
            })
        });

    })
</script>
}
