@model IEnumerable<MedicalMgmt.Models.Physician>

@{
    ViewBag.Title = "Marcar consulta";
}

<h2>Marcar consulta</h2>
<h5>Selecione o profissional desejado</h5>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expertise)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Expertise)
        </td>
        <td>
            @Html.ActionLink("Selecionar", "SelectPhysician", new { id = item.PhysicianID })
        </td>
    </tr>
}

</table>
