@model MedicalMgmt.Models.Physician

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<h3>Tem certeza que deseja excluir?</h3>
<h6>Obs: somente a associação com o perfil "Médico" será excluída; o usuário continuará existindo no sistema.</h6>
<div>
    <h4>Médico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AppUser.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppUser.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expertise)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expertise)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GraduationUni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GraduationUni)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GraduationYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GraduationYear)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
