@model MedicalMgmt.Models.Physician

@{
    ViewBag.Title = "Profissional - " + Html.DisplayFor(model => model.AppUser.FullName);
}

<div>
    <br />
    <h2>@Html.DisplayFor(model => model.AppUser.FullName)</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AppUser.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppUser.Username)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.AppUser.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AppUser.FullName)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Expertise)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expertise)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GraduationUni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GraduationUni)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GraduationYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GraduationYear)
        </dd>

    </dl>
</div>
<hr />
<br />

<div id="waitingAppointments">
    @{ Html.RenderAction("ListWaiting", "Appointments", new { physicianID = Model.PhysicianID }); }
</div>
<hr />
<br />

<div id="futureAppointments">
    @{ Html.RenderAction("ListFuture", "Appointments", new { physicianID = Model.PhysicianID }); }
</div>
<hr />
<br />

<div id="previousAppointments">
    @{ Html.RenderAction("ListPrevious", "Appointments", new { physicianID = Model.PhysicianID }); }
</div>

@section Scripts{
    <script type="text/javascript">
    $(document).ready(function () {

    });
    </script>
@Scripts.Render("~/Scripts/jquery.validate.min.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}
