@model IEnumerable<MedicalMgmt.Models.Physician>

@{
    ViewBag.Title = "Médicos";
}

<h2>Médicos</h2>

<p>
    @Html.ActionLink("Criar novo", "Create")
    <span> (associa um usuário existente no sistema ao perfil "Médico")</span>
</p>
<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expertise)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GraduationUni)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GraduationYear)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Expertise)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GraduationUni)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GraduationYear)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.PhysicianID }) |
            @*@Html.ActionLink("Detalhes", "Details", new { id=item.PhysicianID }) |*@
            @Html.ActionLink("Excluir", "Delete", new { id=item.PhysicianID })
        </td>
    </tr>
}

</table>
