@*@model IEnumerable<MedicalMgmt.Models.Physician>*@
@model PagedList.IPagedList<MedicalMgmt.Models.Physician>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Médicos";
}

<h2>Médicos</h2>

<h5>Selecione o profissional desejado</h5>
<hr />

<div class="row justify-content-start">
    <div class="col-md-3">
        <select id="physicianSelector" class="selectpicker filter" data-live-search="true" title="Selecionar médico...">
            @foreach (var item in ViewBag.PhysicianList)
            {
                <option value="@item.PhysicianID">@item.AppUser.FullName</option>
            }
        </select>
    </div>
    <div class="col-md-3">
        <select id="expertiseSelector" class="selectpicker filter" data-live-search="true" title="Selecionar especialidade...">
            @foreach (var item in ViewBag.PhysicianList)
            {
                <option value="@item.Expertise">@item.Expertise</option>
            }
        </select>
    </div>

    @*<div class="line-space"></div>*@
    <div class="col-md-6">
        @*<div>*@
        <input type="submit" value="Limpar" class="btn btn-default" id="btnClear" />
        @*</div>
            <div>*@
        <input type="submit" value="Pesquisar" class="btn btn-primary" id="btnSearch" />
        @*</div>*@
    </div>
</div>
<br />

<div id="filteredPhysicians">
    <table class="table">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Users.fin)*@
                Médico
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Expertise)*@
                Especialidade
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
    {
        <tr class="tableRow" id="row_@item.PhysicianID">
            <td>
                @Html.DisplayFor(modelItem => item.AppUser.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expertise)
            </td>
            <td align="right">
                @*@Html.ActionLink("Selecionar", "CreateAppointment", new { patientID = ViewBag.PatientID, physicianID = item.PhysicianID })*@
                <input type="submit" value="Selecionar" class="btn btn-primary btnSelectPhysician" id="@item.PhysicianID" />
            </td>
        </tr>
}

    </table>

    @Html.PagedListPager(Model, page => Url.Action("FilteredPhysicians",
                new { page }),
                PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "filteredPhysicians" }))
</div>

@Styles.Render("~/Content/bootstrap-select.min.css")
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")*@
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {

        $(".btn-load").click(function () {
            var $this = $(this);
            $this.button('loading');
        });

        $("#btnSearch").click(function () {
            //var id = $(this).attr("id");

            $.ajax(
                {
                    type: "GET",
                    data: {
                        physicianID: $("#physicianSelector").val(),
                        expertise: $("#expertiseSelector").val()
                    },
                    dataType: "html",
                    url: "/Physicians/FilteredPhysicians/",
                    success: function (result) {
                        $("#filteredPhysicians").html(result);
                        //reloadSelectButtons();
                    },

                    error: function (error) {
                        alert("Fail");
                    }
                });
        });

        $("#btnClear").click(function () {
            $('#physicianSelector').selectpicker('val', '');
            $('#expertiseSelector').selectpicker('val', '');
        });

        $(".btnSelectPhysician").click(function () {
            var url = "/Physicians/Details/" + this.id;
            window.location.replace(url);
        });


    });

    </script>
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}
