@*@model IEnumerable<MedicalMgmt.Models.Medicine>*@
@model PagedList.IPagedList<MedicalMgmt.Models.Medicine>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Medicamentos";
}

<h2>Medicamentos</h2>

<hr />
<h5>Selecione o medicamento desejado ou cadastre um @Html.ActionLink("novo medicamento", "Create", null, new { @class = "custom-link" })</h5>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CommercialName)
            @*@Html.ActionLink("Nome comercial", "Index", new { sortOrder = ViewBag.CommercialNameSortParam, currentFilter = ViewBag.CurrentFilter })*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().GenericName)
            @*@Html.ActionLink("Nome genérico", "Index", new { sortOrder = ViewBag.GenericNameSortParam, currentFilter = ViewBag.CurrentFilter })*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Manufacturer)
            @*@Html.ActionLink("Fabricante", "Index", new { sortOrder = ViewBag.ManufacturerSortParam, currentFilter = ViewBag.CurrentFilter })*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CommercialName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GenericName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td align="right">
            @Html.ActionLink("Editar", "Edit", new { id = item.MedicineID }, new { @class = "btn btn-default" })
        </td>
    </tr>
}

</table>

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
