<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="@Url.Content("~/content/MMgmt.ico")" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>MedicalMgmt - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MedicalMgmt", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    @if (Request.IsAuthenticated)
                    {
                    @*<li>@Html.ActionLink("Marcar consulta", "Index", "Patients")</li>
                    <li>@Html.ActionLink("Pesquisar consulta", "ListAll", "Appointments")</li>
                    <li>@Html.ActionLink("Exames prescritos", "ListAll", "PrescriptedExams")</li>
                    <li>@Html.ActionLink("Criar novo", "Create", "Medicines")</li>
                    <li>@Html.ActionLink("Pesquisar medicamentos", "Index", "Medicines")</li>*@

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="False">Consultas<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            @if (!User.IsInRole(MedicalMgmt.General.Constants.PROFILE_PHYSICIAN))
                            {
                                <li>@Html.ActionLink("Marcar consulta", "Index", "Patients")</li>
                            }
                            <li>@Html.ActionLink("Pesquisar consultas", "ListAll", "Appointments")</li>
                            @if (!User.IsInRole(MedicalMgmt.General.Constants.PROFILE_PHYSICIAN))
                            {
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Pesquisar médico", "Index", "Physicians")</li>
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="False">Exames<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Exames solicitados", "ListAll", "PrescriptedExams")</li>
                            @*<li class="divider"></li>*@
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="False">Medicamentos<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Medicamentos cadastrados", "Index", "Medicines")</li>
                            <li>@Html.ActionLink("Cadastrar novo", "Create", "Medicines")</li>
                            @*<li class="divider"></li>*@
                        </ul>
                    </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - <a href="http://www.tarcisiocortes.com">Tarcisio Cortes</a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
