@*@model IEnumerable<MedicalMgmt.Models.Patient>*@
@model PagedList.IPagedList<MedicalMgmt.Models.Patient>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Pacientes";
}

<h2>Pacientes</h2>

<p>
    @Html.ActionLink("Criar novo", "Create")
</p>

@using (Html.BeginForm("Index", "Patients", FormMethod.Get))
{
    <p>
        Nome: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Buscar" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.FullName)*@
            @Html.ActionLink("Nome completo", "Index", new { sortOrder = ViewBag.FullNameSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Rg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cpf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.PatientID }) |
            @Html.ActionLink("Detalhes", "Details", new { id = item.PatientID }) |
            @Html.ActionLink("Marcar consulta", "CreateAppointment",
                             new { controller = "Physicians", patientID = item.PatientID }) @*|
            @Html.ActionLink("Delete", "Delete", new { id=item.PatientID })*@
        </td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
