@model MedicalMgmt.Models.PrescriptedMedicine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PrescriptedMedicine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Medicine.CommercialName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicine.CommercialName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppointmentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhysicianID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysicianID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Posology)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Posology)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PrescriptedMedicineID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
