@model IEnumerable<MedicalMgmt.Models.PrescriptedMedicine>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Medicine.CommercialName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhysicianID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Posology)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Medicine.CommercialName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhysicianID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Posology)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PrescriptedMedicineID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PrescriptedMedicineID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PrescriptedMedicineID })
        </td>
    </tr>
}

</table>
