@model IEnumerable<MedicalMgmt.Models.PrescriptedMedicine>

<table class="table" id="prescribedMedicines">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Medicine.CommercialName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medicine.GenericName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Posology)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Medicine.CommercialName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medicine.GenericName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posology)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PrescriptedMedicineID }) |
                @*@Html.ActionLink("Remove", "Remover", new { id = item.PrescriptedMedicineID })*@
                <button type="button" class="btn btn-danger btn-sm" data-item-id="@item.PrescriptedMedicineID" data-item-description="@item.PrescriptedMedicineID" data-toggle="modal" data-target="#confirm-delete">Delete</button>
            </td>
        </tr>
    }

</table>