@model IEnumerable<MedicalMgmt.Models.PrescriptedMedicine>

@if (Model.ToList().Count > 0)
{
<table class="table" id="prescribedMedicines">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Medicine.CommercialName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medicine.GenericName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Posology)
        </th>
        @if (@ViewBag.AppointmentStatusID == MedicalMgmt.General.Constants.SS_AP_ONGOING)
        {
            <th></th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Medicine.CommercialName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medicine.GenericName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posology)
            </td>
            @if (@ViewBag.AppointmentStatusID == MedicalMgmt.General.Constants.SS_AP_ONGOING)
            {
                <td align="right">
                    @*<div class="table-inside-buttons">*@
                        <button type="button" class="btn btn-default btn-sm" data-item-id="@item.PrescriptedMedicineID" data-item-description="@item.Medicine.CommercialName (@item.Medicine.GenericName)" data-item-posology="@item.Posology" data-toggle="modal" data-target="#confirm-edit"><i class="glyphicon glyphicon-edit"></i></button>
                        <button type="button" class="btn btn-danger btn-sm" data-item-id="@item.PrescriptedMedicineID" data-item-description="@item.Medicine.CommercialName (@item.Medicine.GenericName)" data-toggle="modal" data-target="#confirm-delete"><i class="glyphicon glyphicon-trash"></i></button>
                    @*</div>*@
                </td>
            }
        </tr>
    }

</table>
}
else
{
<p>Nenhum medicamento prescrito.</p>
}