@model IEnumerable<MedicalMgmt.Models.PrescriptedMedicine>

<table class="table" id="prescribedMedicines">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Medicine.CommercialName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medicine.GenericName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Posology)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Medicine.CommercialName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medicine.GenericName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posology)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PrescriptedMedicineID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PrescriptedMedicineID })
            </td>
        </tr>
    }

</table>
<div id="addPrescription">
    <select id="medicineSelector" class="selectpicker" data-live-search="true" title="Selecionar medicamento...">
        @foreach (var item in ViewBag.MedicineList)
        {
            <option value="@item.MedicineID">@item.CommercialName (@item.GenericName)</option>
        }
    </select>
    @Html.TextArea("Posologia", new { @class = "form-control", @id = "posology", @placeholder = "Posologia..." })
</div>
@*<div class="col-md-12">
    <button class="btn btn-default" id="btnAdd">Adicionar <i class="glyphicon glyphicon-plus"></i></button>
</div>*@
<div class="col-md-12">
    <button class="btn btn-default" id="btnAddInline">Adicionar <i class="glyphicon glyphicon-plus"></i></button>
</div>

@*@section scripts{
<script>
    $(document).ready(function () {
        $("#btnAddRow").click(function () {
            //var tableRef = document.getElementById('prescribedMedicines').getElementsByTagName('tbody')[0];
            //tableRef.insertRow

            $("#prescribedMedicines").find("tbody").append(
                "<tr><td>" + @Html.DisplayNameFor(model => model.Medicine.CommercialName) + "</td>"
                +"<td></td><td></td><td></td></tr>"
                )

        });
    });
</script>
}*@
@Styles.Render("~/Content/bootstrap-select.min.css")
<script src="~/Scripts/bootstrap-select.min.js"></script>
<script type='text/javascript'>
    $(function () {
        // Wire up your DatePicker
        $(".selectpicker").selectpicker()
    });
</script>